.hero {
  height: 100vh;
  width: 100%;
  color: #fff;
  padding: 4rem 2rem;
  position: relative;
  text-align: center;
  overflow: hidden;
}

.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 155%;
  z-index: -1;
  opacity: 0.8;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-content {
  position: relative;
  margin-top: 10rem;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.florella-logo {
  height: 200px;
  width: 500px;
  object-fit: contain;
  margin-bottom: 0.5rem;
}

.hero p {
  font-family: montserrat;
  font-size: 4rem;
  font-weight: 500;
  margin: 1rem 0.2rem;
  text-transform: uppercase;
  color: #fff;
}

.blooms-col-2 p {
  font-size: 4rem;
  font-weight: 500;
  margin-bottom: 3rem;
}

.blooms-btn,
.bakes-btn {
  background-color: #b1a293;
  color: #fff;
  padding: 0.8rem 1.8rem;
  border: none;
  border-radius: 5px;
  font-size: 0.8rem;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
  text-transform: uppercase;
  display: inline-block;
  transition: transform 0.3s ease;
}

.blooms-btn:hover,
.bakes-btn:hover {
  background-color: #806652;
  transform: scale(1.05);
}
.row-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.blooms-col-1,
.blooms-col-2,
.blooms-col-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Media Queries for responsive design */
@media (max-width: 1024px) {
  .florella-logo {
    width: 380px;
    height: auto;
  }

  .hero p {
    font-size: 3rem;
  }

  .row-2 {
    gap: 3rem;
  }
}

@media (max-width: 768px) {
  .hero-content {
    margin-top: 6rem;
  }

  .florella-logo {
    width: 80%;
    max-width: 300px;
    height: auto;
  }

  .hero p {
    font-size: 2.2rem;
  }

  .row-2 {
    flex-direction: column;
    gap: 2rem;
  }

  .blooms-col-2 p {
    font-size: 2.5rem;
    margin-bottom: 0;
  }
}

@media (max-width: 480px) {
  .florella-logo {
    max-width: 220px;
  }

  .hero p {
    font-size: 1.8rem;
  }

  .blooms-btn,
  .bakes-btn {
    font-size: 0.7rem;
    padding: 0.7rem 1.4rem;
  }
}
